{% extends 'back/season/season_template.html.twig' %}

{% block bodyBack %}
    <h2>Ajouter une saison pour la série {{ movie.title }}</h2>

    {{ include('back/season/_form.html.twig') }}

    <a href="{{ path('back_season_index',{id: movie.id}) }}" class="btn btn-primary">Retour a liste des seasons</a>
{% endblock %}
