{% extends 'back/movie/movie_template.html.twig' %}

{% block bodyBack %}
    <h2>Ajouter un film/une série</h2>

    {{ include('back/movie/_form.html.twig') }}

    <a href="{{ path('back_movie_index') }}" class="btn btn-primary">Retour a liste des films</a>
{% endblock %}
