{% extends 'back/back_template.html.twig' %}

{% block title %}Nouveau film{% endblock %}

{% block bodyBack %}
    <h1>Ajouter un film/une série</h1>

    {{ include('back/movie/_form.html.twig') }}

    <a href="{{ path('app_back_movie_index') }}" class="btn btn-primary">Retour a liste des films</a>
{% endblock %}
